img{
    height: 500px;
    width: 400px;
    display: block;
    margin: 0 auto;
}
table{
    width: 100%;
}
table header{
    background-color: aliceblue;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    padding: 20px;
    margin: 20px;
    border: none;
}